html
  head
    meta(charset='UTF-8')
    title Random Login Form - CodePen
    link(rel='stylesheet', href='/stylesheets/loginstyle.css')
    script(src="/javascripts/jquery-1.11.1.js")
    script(src='/javascripts/prefixfree.min.js')
    script(src="/javascripts/login.js")
  body
    .body
    .grad
    .header
      div
        | Click
        span Login
    br
    .login
      input(type='text', placeholder='username', name='user')
      br
      input(type='password', placeholder='password', name='password')
      br
      input#LoginButton(type='button', value='Login')

